<script src="/scripts/app.js?v=4"></script>

{{{ analytics }}}

<script>
  var _gauges = _gauges || [];

  (function () {
    if (document.location.hostname != "localhost") {
      let t   = document.createElement("script");
      t.type  = "text/javascript";
      t.async = true;
      t.id    = "gauges-tracker";
      t.setAttribute("data-site-id", "58619590c88d9013c505c86c");
      t.setAttribute("data-track-path", "https://track.gaug.es/track.gif");
      t.src = "https://d36ee2fcip1434.cloudfront.net/track.js";

      let s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(t, s);
    }
  })();
</script>
