<nav class="article__footer__share">
  <a class="article__footer__share__item email" href="mailto:?subject={{ PostTitle }}&amp;body=Check out this article: https://thewebb.blog{{ PostURL }}" title="Share “{{ PostTitle }}” via email">Email</a>

  <a class="article__footer__share__item buffer" href="http://bufferapp.com/add?text={{ PostTitle }}&amp;url=https://thewebb.blog{{ PostURL }}" title="Share “{{ PostTitle }}” via Buffer">Buffer</a>

  <a class="article__footer__share__item hackernews" href="http://news.ycombinator.com/submitlink?u=https://thewebb.blog{{ PostURL }}&amp;t={{ PostTitle }}" title="Share “{{ PostTitle }}” via Hacker News">Hacker News</a>

  <a class="article__footer__share__item linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=https://thewebb.blog{{ PostURL }}&amp;title={{ PostTitle }}&amp;summary={{ Excerpt }}&amp;source={{ Title }}" title="Share “{{ PostTitle }}” via LinkedIn">LinkedIn</a>

  <a class="article__footer__share__item pocket" href="https://getpocket.com/save?url=https://thewebb.blog{{ PostURL }}&amp;title{{ PostTitle }}" title="Share “{{ PostTitle }}” via Pocket">Pocket</a>

  <a class="article__footer__share__item reddit" href="http://www.reddit.com/submit?url=https://thewebb.blog{{ PostURL }}" title="Share “{{ PostTitle }}” via Reddit">Reddit</a>

  <a class="article__footer__share__item tumblr" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=https://thewebb.blog{{ PostURL }}&amp;title={{ PostTitle }}&amp;caption={{ Excerpt }}" title="Share “{{ PostTitle }}” via tumblr">tumblr</a>

  <a class="article__footer__share__item twitter" href="https://twitter.com/intent/tweet?text={{ PostTitle }}%20🕸&amp;url=https://thewebb.blog{{ PostURL }}" title="Share “{{ PostTitle }}” via Twitter">Twitter</a>
</nav>
