.header {
  top: 1rem; left: 3rem;

  position: absolute;
  z-index: 10;
}

.logo {
  @include hide-text;
  width: 20rem; height: 10rem;

  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  transform: skew(-9deg, -9deg);

  @media screen and (orientation: landscape) {
    left: 3rem;
  }

  &::before,
  &::after {
    color: initial;
    font-size: 1.5rem;
    position: absolute;
  }

  &::before {
    top: 0.5rem; left: 0;
    content: "the";
  }

  &::after {
    right: 0; bottom: 0;
    content: "blog";
  }

  a {
    width: 100%; height: 100%;
    display: block;
  }
}
