pre {
  @include font-mono;
  background-color: $brand-black;
  color: $white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;

  @media (max-width: 800px) {
    width: calc(100% + 4rem);
    left: -2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  code {
    display: block;
    font-size: 0.85rem;
    line-height: 1.5;

    @media (min-width: 801px) {
      width: 600px;
      margin-right: auto;
      margin-left: auto;
    }

    @media (max-width: 800px) {
      width: 100%;
    }
  }
}



//  S Y N T A X
//  H I G H L I G H T I N G

.hljs {
  overflow-x: auto;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #e599f7; //
}

.hljs-literal {
  color: #ffa94d;
}

.hljs-function .hljs-keyword {
  color: #ff79c6;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
// .hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #ffe066; //
}

.hljs-attr {
  color: #72c3fc;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #6272a4;
}

.hljs-params {
  color: #f783ac;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
