.header {
  top: 0; left: 0;

  position: fixed;
  min-width: 320px; width: 100%;
  transition: all 0.2s;
  z-index: 3;

  &:not(.scrolled) {
    @media (min-width: 451px) {
      padding-top: 2rem;
    }

    @media (max-width: 450px) {
      padding-top: 3rem;
    }

    .header__logo {
      @media (max-width: 450px) {
        width: 100%;
      }

      a {
        @media (min-width: 751px) {
          width: 20rem; height: 8rem;
        }

        @media (max-width: 750px) {
          height: 4rem;
        }

        @media (min-width: 451px) and (max-width: 750px) {
          width: 11rem;
        }

        @media (min-width: 451px) {
          background-size: cover;
        }

        @media (max-width: 450px) {
          background-size: contain;
          width: 100%;
        }
      }
    }

    .header__edition {
      @media (min-width: 751px) {
        top: 2rem;
      }

      @media (min-width: 451px) and (max-width: 750px) {
        top: 0.5rem;
      }

      @media (min-width: 451px) {
        right: 2rem;
        transform: rotate(-15deg);
      }

      @media (max-width: 450px) {
        top: 0; right: 0;

        background-color: $black;
        color: $white;
        line-height: 2;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      &::before,
      &::after {
        @media (max-width: 450px) {
          @include font-serif;
          font-style: italic;
          font-weight: 200;
          letter-spacing: 0.2rem;
          text-align: center;
          text-transform: lowercase;
          width: 50%;
        }
      }

      &::before {
        @media (max-width: 450px) {
          top: 0; left: 0;
        }
      }

      &::after {
        @media (max-width: 450px) {
          top: 0; right: 0;
        }
      }

      span {
        @media (max-width: 450px) {
          font-size: 1rem;
          letter-spacing: 0.1rem;
        }
      }
    }



    &:not(.light) {
      .header__logo {
        a {
          background-image: url("./images/logo.svg");

          &::after {
            bottom: -1px; right: -1px;
            background-image: url("./images/logo--white.svg");
          }
        }
      }
    }

    &.light {
      .header__logo {
        a {
          // background-image: url("./images/logo--white.svg");
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 300' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3E path %7B fill: %23fcfcfc; fill-rule: evenodd; %7D %3C/style%3E %3Cpath d='M296.832, 210.336c-6.048, 8.928 -12.096, 12.096 -19.584, 12.096c-8.64, 0 -11.808, -5.76 -11.808, -14.688l0, -6.336l57.024, 0l0, -32.832c0, -39.456 -19.584, -53.856 -51.552, -53.856c-27.648, 0 -50.4, 14.688 -50.4, 53.856l0, 37.44c0, 35.424 21.024, 52.704 52.704, 52.704c24.768, 0 40.32, -7.2 51.84, -25.344l-28.224, -23.04Zm76.896, 44.064l-38.88, 0l0, -213.12l46.368, 0l0, 87.264c6.048, -8.064 14.688, -13.824 27.36, -13.824c24.192, 0 36, 13.824 36, 50.976l0, 42.048c0, 32.832 -14.112, 50.976 -43.776, 50.976c-14.112, 0 -22.176, -5.76 -27.072, -13.536l0, 9.216Zm122.976, 0l-38.88, 0l0, -213.12l46.368, 0l0, 87.264c6.048, -8.064 14.688, -13.824 27.36, -13.824c24.192, 0 36, 13.824 36, 50.976l0, 42.048c0, 32.832 -14.112, 50.976 -43.776, 50.976c-14.112, 0 -22.176, -5.76 -27.072, -13.536l0, 9.216Zm-388.224, 0l-51.84, 0l-24.192, -135.36l52.128, 0l1.44, 80.352l13.248, -80.352l48.672, 0l12.672, 83.52l4.608, -83.52l52.128, 0l-31.104, 135.36l-57.6, 0l-8.064, -62.784l-12.096, 62.784Zm289.44, -46.656c0, 10.368 -2.88, 14.688 -10.08, 14.688c-2.592, 0 -4.896, -1.44 -6.624, -4.032l0, -53.856c0.864, -10.08 4.032, -13.536 8.64, -13.536c6.336, 0 8.064, 4.32 8.064, 13.248l0, 43.488Zm122.976, 0c0, 10.368 -2.88, 14.688 -10.08, 14.688c-2.592, 0 -4.896, -1.44 -6.624, -4.032l0, -53.856c0.864, -10.08 4.032, -13.536 8.64, -13.536c6.336, 0 8.064, 4.32 8.064, 13.248l0, 43.488Zm-243.36, -35.136l0, -11.808c0, -6.336 -2.016, -9.792 -6.048, -9.792c-4.032, 0 -6.048, 3.456 -6.048, 9.792l0, 11.808l12.096, 0Zm-230.016, -108.656l0, 4.032l-5.424, 0l0, 27.792l-4.272, 0l0, -27.792l-5.376, 0l0, -4.032l15.072, 0Zm7.488, 13.92l7.872, 0l0, -13.92l4.272, 0l0, 31.824l-4.272, 0l0, -13.824l-7.872, 0l0, 13.824l-4.272, 0l0, -31.824l4.272, 0l0, 13.92Zm29.856, -13.92l0, 4.176l-8.736, 0l0, 9.984l7.296, 0l0, 3.504l-7.296, 0l0, 9.984l8.736, 0l0, 4.176l-13.008, 0l0, -31.824l13.008, 0Z'/%3E %3C/svg%3E");

          &::after {
            bottom: -2px; right: -2px;
            // background-image: url("./images/logo.svg");
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 300' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3E path %7B fill: %23010000; fill-rule: evenodd; %7D %3C/style%3E %3Cpath d='M296.832, 210.336c-6.048, 8.928 -12.096, 12.096 -19.584, 12.096c-8.64, 0 -11.808, -5.76 -11.808, -14.688l0, -6.336l57.024, 0l0, -32.832c0, -39.456 -19.584, -53.856 -51.552, -53.856c-27.648, 0 -50.4, 14.688 -50.4, 53.856l0, 37.44c0, 35.424 21.024, 52.704 52.704, 52.704c24.768, 0 40.32, -7.2 51.84, -25.344l-28.224, -23.04Zm76.896, 44.064l-38.88, 0l0, -213.12l46.368, 0l0, 87.264c6.048, -8.064 14.688, -13.824 27.36, -13.824c24.192, 0 36, 13.824 36, 50.976l0, 42.048c0, 32.832 -14.112, 50.976 -43.776, 50.976c-14.112, 0 -22.176, -5.76 -27.072, -13.536l0, 9.216Zm122.976, 0l-38.88, 0l0, -213.12l46.368, 0l0, 87.264c6.048, -8.064 14.688, -13.824 27.36, -13.824c24.192, 0 36, 13.824 36, 50.976l0, 42.048c0, 32.832 -14.112, 50.976 -43.776, 50.976c-14.112, 0 -22.176, -5.76 -27.072, -13.536l0, 9.216Zm-388.224, 0l-51.84, 0l-24.192, -135.36l52.128, 0l1.44, 80.352l13.248, -80.352l48.672, 0l12.672, 83.52l4.608, -83.52l52.128, 0l-31.104, 135.36l-57.6, 0l-8.064, -62.784l-12.096, 62.784Zm289.44, -46.656c0, 10.368 -2.88, 14.688 -10.08, 14.688c-2.592, 0 -4.896, -1.44 -6.624, -4.032l0, -53.856c0.864, -10.08 4.032, -13.536 8.64, -13.536c6.336, 0 8.064, 4.32 8.064, 13.248l0, 43.488Zm122.976, 0c0, 10.368 -2.88, 14.688 -10.08, 14.688c-2.592, 0 -4.896, -1.44 -6.624, -4.032l0, -53.856c0.864, -10.08 4.032, -13.536 8.64, -13.536c6.336, 0 8.064, 4.32 8.064, 13.248l0, 43.488Zm-243.36, -35.136l0, -11.808c0, -6.336 -2.016, -9.792 -6.048, -9.792c-4.032, 0 -6.048, 3.456 -6.048, 9.792l0, 11.808l12.096, 0Zm-230.016, -108.656l0, 4.032l-5.424, 0l0, 27.792l-4.272, 0l0, -27.792l-5.376, 0l0, -4.032l15.072, 0Zm7.488, 13.92l7.872, 0l0, -13.92l4.272, 0l0, 31.824l-4.272, 0l0, -13.824l-7.872, 0l0, 13.824l-4.272, 0l0, -31.824l4.272, 0l0, 13.92Zm29.856, -13.92l0, 4.176l-8.736, 0l0, 9.984l7.296, 0l0, 3.504l-7.296, 0l0, 9.984l8.736, 0l0, 4.176l-13.008, 0l0, -31.824l13.008, 0Z'/%3E %3C/svg%3E");
          }
        }
      }

      .header__edition {
        color: $white;

        &::before,
        &::after {
          text-shadow: 1px 1px 1px rgba($black, 0.3);
        }

        span::after {
          color: rgba($black, 0.3);
        }
      }
    }
  }

  &.scrolled {
    background-color: rgba($white, 0.95);
    border-bottom: 2px solid rgba($silver, 0.7);
    padding-top: 0.5rem;

    @media (max-width: 750px) {
      padding-bottom: 0.5rem;
    }

    .header__logo a {
      width: 6rem; height: 3rem;

      background-image: url("./images/logo.svg");
      background-size: cover;

      &::after {
        bottom: -1px; right: -1px;
        background-image: url("./images/logo--white.svg");
      }
    }

    .header__edition {
      right: -1.5rem;
      transform: rotate(-15deg) scale(0.5);

      @media (min-width: 751px) {
        top: -0.5rem;
      }

      @media (max-width: 750px) {
        top: 0;
      }

      @media (max-width: 450px) {
        font-size: 2.5rem;
        position: relative;
        width: 50%;

        &::before,
        &::after {
          width: 100%;
        }

        &::before {
          text-align: left;
          top: -0.6rem;
        }

        &::after {
          bottom: -1rem;
          text-align: right;
        }
      }
    }
  }

  .inner-wrap::after {
    @include clearfix;
  }
}



.header__logo {
  float: left;

  /*
  &:not(.white) {
    a {
      background-image: url("./images/logo.svg");

      &::after {
        bottom: -1px; right: -1px;
        background-image: url("./images/logo--white.svg");
      }
    }
  }
  */

  a {
    @include hide-text;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: relative;

    &::after {
      width: inherit; height: inherit;

      background-position: inherit;
      background-repeat: inherit;
      background-size: inherit;
      content: "";
      opacity: 0.3;
      position: absolute;
      z-index: -1;
    }
  }
}



.header__edition {
  cursor: default;
  float: right;

  @media (min-width: 451px) {
    position: relative;
  }

  &:not(.white) {
    &::before,
    &::after {
      text-shadow: 1px 1px 1px rgba($white, 0.3);
    }

    span:after {
      color: rgba($white, 0.3);
    }
  }

  &::before,
  &::after {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    position: absolute;

    @media (min-width: 451px) {
      width: 100%;
    }
  }

  &::before {
    content: "The";

    @media (min-width: 451px) {
      text-align: left;
      top: -0.6rem;
    }
  }

  &::after {
    content: "Issue";

    @media (min-width: 451px) {
      bottom: -1rem;
      text-align: right;
    }
  }

  span {
    @include font-serif;
    display: block;
    position: relative;

    @media (min-width: 751px) {
      font-size: 3rem;
    }

    @media (min-width: 451px) and (max-width: 750px) {
      font-size: 2.5rem;
    }

    &::after {
      width: 100%; height: 100%;
      top: 1px; left: 1px;

      content: attr(data-edition);
      position: absolute;
      z-index: -1;
    }
  }
}
