/*    200     */

@font-face {
  font-family: "Webb Mono";
  font-weight: 200;
  src:
    url("200.woff2") format("woff2"),
    url("200.woff") format("woff");
}

@font-face {
  font-family: "Webb Mono";
  font-style: italic;
  font-weight: 200;
  src:
    url("200i.woff2") format("woff2"),
    url("200i.woff") format("woff");
}



/*    400     */

@font-face {
  font-family: "Webb Mono";
  font-weight: 400;
  src:
    url("400.woff2") format("woff2"),
    url("400.woff") format("woff");
}

@font-face {
  font-family: "Webb Mono";
  font-style: italic;
  font-weight: 400;
  src:
    url("400i.woff2") format("woff2"),
    url("400i.woff") format("woff");
}



/*    700     */

@font-face {
  font-family: "Webb Mono";
  font-weight: 700;
  src:
    url("700.woff2") format("woff2"),
    url("700.woff") format("woff");
}

@font-face {
  font-family: "Webb Mono";
  font-style: italic;
  font-weight: 700;
  src:
    url("700i.woff2") format("woff2"),
    url("700i.woff") format("woff");
}
