.foreward {
  background-color: $white;
  background-image: url("../images/backgrounds/grid.png");
  background-repeat: repeat;
  background-size: 32px;

  margin-bottom: 50px; // footer height
  padding-top: 2rem;
  position: relative;

  .inner-wrap:after {
    @include clearfix;
  }

  .right,
  .left {
    margin-bottom: 2rem;
    position: relative;

    @media (min-width: 751px) {
      min-height: 50vh;
      width: 50%;
    }

    @media (max-width: 750px) {
      width: 100%;
    }
  }
}



.foreward__note {
  @include serif;

  @media (min-width: 751px) {
    padding-right: 3rem;
  }

  h3 {
    border-top: 3px solid $black;
    border-bottom: 1px solid $black;

    @media (min-width: 451px) {
      font-size: 2rem;
      margin-bottom: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    @media (max-width: 450px) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  p {
    line-height: 1.5;

    @media (min-width: 451px) {
      font-size: 1.25rem;
    }

    @media (max-width: 450px) {
      font-size: 1rem;
    }

    &:not(:last-of-type) {
      text-indent: 2rem;
    }
  }

  a {
    font-style: italic;
    font-weight: 600;
    position: relative;

    &:not(:hover):after {
      bottom: -0.5rem;
      opacity: 0;
    }

    &:hover:after {
      bottom: -0.2rem;
      opacity: 0.7;
    }

    &:after {
      width: 100%; height: 1px;

      background-color: currentColor;
      content: "";
      left: 0;
      position: absolute;
      transition: all 0.2s;
    }
  }
}

.foreward__note__portrait {
  float: left;
  margin-right: 2rem;
  width: 150px;

  img {
    box-shadow: 5px 5px 0 $brand-black;
    width: 100%;
  }
}

.foreward__note__signature {
  width: 100px; height: auto;
  float: right;

  @media (max-width: 450px) {
    margin-right: 0.5rem;
  }

  img {
    width: 100%;
  }
}



.foreward__toc {
  counter-reset: item;
  list-style-type: none;

  @media (min-width: 751px) {
    padding-left: 1rem;

    &:before {
      width: 1px; height: 100%;
      top: 0; left: -1rem;

      background-color: rgba($silver, 0.7);
      content: "";
      position: absolute;
    }
  }
}

.foreward__toc__story {
  position: relative;

  &:first-of-type {
    @include serif;
    border-top: 3px solid $black;
    border-bottom: 1px solid $black;
    font-weight: 600;

    @media (min-width: 451px) {
      font-size: 2rem;
      margin-bottom: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    @media (max-width: 450px) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  &:not(:first-of-type) {
    margin-bottom: 1rem; padding-left: 4rem;
    line-height: 1.5;

    @media (min-width: 451px) {
      font-size: 1.25rem;
    }

    @media (max-width: 450px) {
      font-size: 1rem;
    }

    &:not(:hover) {
      &:before,
      span {
        opacity: 0.3;
      }
    }

    &:before {
      @include serif;
      top: 0; left: 0;

      content: counter(item);
      counter-increment: item;
      font-size: 1.5rem;
      line-height: 3.5rem;
      position: absolute;
      text-align: center;
      transition: opacity 0.2s;
      width: 3rem;
    }

    a {
      font-weight: 600;
    }

    span {
      @include serif;
      display: block;
      font-style: italic;
      font-weight: normal;
      transition: opacity 0.2s;
    }
  }
}
