<article class="article {{{ PostColor }}}" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="article__header">
    <div class="article__header-wrap">
      <div class="inner-wrap">
        <small class="article__header__tags">{{{ PostTags }}}</small>

        <h2 class="article__header__title" itemprop="name headline">
          <a href="{{ PostURL }}" itemprop="url">{{ PostTitle }}</a>
        </h2>

        <time class="article__header__date" datetime="{{ PostDate }}" class="post-block_date" itemprop="datePublished">{{ PostDate }}</time>
      </div>
    </div>

    <figure class="article__header__hero">
      <!--/ <img src="{{{ Hero }}}" alt="Lead image for '{{ PostTitle }}'"/> /-->
    </figure>
  </header>

  <section class="article__content" itemprop="articleBody">
    <p class="article__content__tldr inner-wrap">{{{ PostTLDR }}}</p>

    <div class="inner-wrap">
      {{{ Content }}}
    </div>
  </section>

  <footer class="article__footer">
    {{> social }}
  </footer>
</article>

{{#compare RelatedCount "===" 0 }}
<div style="height: 0; margin-bottom: 50px;" class="no-safari">&nbsp;</div>
{{/compare }}

{{#compare RelatedCount ">" 0 }}
<div class="related-wrap">
  <h6>Related Posts</h6>

  <ul class="related">
    {{{ @root.RelatedPosts }}}
  </ul>
</div>
{{/compare }}
