// sass-lint:disable indentation
//    300

@font-face {
  font-family: "Webb Sans";
  font-weight: 300;
  src:
    url("./type/sans/300.woff2") format("woff2"),
    url("./type/sans/300.woff") format("woff");
}

@font-face {
  font-family: "Webb Sans";
  font-style: italic;
  font-weight: 300;
  src:
    url("./type/sans/300i.woff2") format("woff2"),
    url("./type/sans/300i.woff") format("woff");
}



//    400

@font-face {
  font-family: "Webb Sans";
  font-weight: 400;
  src:
    url("./type/sans/400.woff2") format("woff2"),
    url("./type/sans/400.woff") format("woff");
}

@font-face {
  font-family: "Webb Sans";
  font-style: italic;
  font-weight: 400;
  src:
    url("./type/sans/400i.woff2") format("woff2"),
    url("./type/sans/400i.woff") format("woff");
}



//    700

@font-face {
  font-family: "Webb Sans";
  font-weight: 700;
  src:
    url("./type/sans/700.woff2") format("woff2"),
    url("./type/sans/700.woff") format("woff");
}

@font-face {
  font-family: "Webb Sans";
  font-style: italic;
  font-weight: 700;
  src:
    url("./type/sans/700i.woff2") format("woff2"),
    url("./type/sans/700i.woff") format("woff");
}
