$red:     #eb0f3b;
$orange:  #f18557;
$yellow:  #ffdc00;
$green:   #3beb0f;
$teal:    #55f0d1;
$blue:    #0fa8eb;
$indigo:  #0f3beb;
$purple:  #510feb;
$pink:    #eb0fa9;

$black:   #010000;
$gray:    #858585;
$white:   #fcfcfc;

$silver:  #f7f9fb;
$gold:    #c8af60;
$egg:     #e5e8dc;
