//
//  C O O L

$aqua:  #7fdBff;
$blue:  #0074d9;
$navy:  #001f3f;
$teal:  #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime:  #01ff70;



//
//  W A R M

$yellow:  #ffdc00;
$orange:  #ff851b;
$red:     #ff4136;
$fuchsia: #f012be;
$purple:  #b10dc9;
$maroon:  #85144b;



//
//  G R A Y S C A L E

$white:       mix(#353c45, #fff, 1.5%); // charcoal and white
$silver:      #ddd;
$gray:        #aaa;
$black:       #111;
$dark_gray:   #2e353d;
$charcoal:    #353c45;
$slate_gray:  #444b53;



//
//  B R A N D

$brand-red:     #fb7251;
$brand-orange:  #fbc851;
$brand-yellow:  #dafb51;
$brand-green:   #51fb72;
$brand-teal:    #51fbc8;
$brand-blue:    #51dafb;
$brand-slate:   #5184fb;
$brand-purple:  #7251fb;
$brand-pink:    #ff8fa4;  // #fc5185;
$brand-black:   #010000;
$brand-gray:    #858585;
$brand-white:   #fcfcfc;

$brand-silver:  #f7f9fb;
$brand-gold:    #c8af60;
$brand-egg:     #e5e8dc;
