@mixin center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin clearfix {
  clear: both;
  content: "";
  display: block;
}

@mixin font-mono {
  font-family: "Fira Code", "Courier New", Courier, monospace;
}

@mixin font-sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@mixin font-serif {
  font-family: Georgia, serif;
}

@mixin hide-text {
  border: none;
  color: transparent;
  font-size: 0;
  text-shadow: none;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
