.article {
  background-color: $white;

  &:not(.blue):not(.green):not(.pink):not(.purple):not(.red):not(.gold):not(.orange):not(.yellow) {
    ::selection {
      background-color: rgba($brand-black, 0.3);
    }

    .article__header {
      background-image: url("../assets/images/heroes/a.jpg");
    }

    .article__header__tag {
      background-color: $brand-black;
      color: $brand-white;
    }

    .article__header__title {
      color: $brand-white;
      text-shadow: 1px 1px 3px rgba($brand-black, 0.3);
    }

    .article__header__date {
      color: rgba($brand-white, 0.7);
      text-shadow: 1px 1px 3px rgba($brand-black, 0.1);
    }

    .article__header__hero {
      background-image: linear-gradient(160deg, $brand-black 0%, $brand-white 100%);
    }

    .article__content__nav::before {
      background-image: url("../assets/images/arrow--white.svg");
    }

    .article__content {
      p:not(.article__content__tldr):first-child::first-letter {
        color: $brand-black;
      }

      blockquote p:first-child::before {
        color: $brand-black;
      }

      a {
        color: $brand-black;
      }
    }

    .article__content__nav {
      background-color: $brand-black;
    }

    .article__content__image {
      img {
        @media (min-width: 801px) {
          border-color: $brand-black;
          box-shadow: 5px 5px 0 $brand-black;
        }
      }

      figcaption {
        color: $brand-black;
      }
    }

    .article__content__video {
      embed,
      iframe {
        @media (min-width: 801px) {
          border-color: $brand-black;
          box-shadow: 5px 5px 0 $brand-black;
        }
      }
    }
  }

  &.blue,
  &.green,
  &.pink,
  &.purple,
  &.red {
    .article__header__tag {
      color: $white;
    }

    .article__header__title {
      color: $white;
      text-shadow: 1px 1px 3px rgba($black, 0.3);
      // Use below with gradient background image
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }

    .article__header__date {
      color: rgba($white, 0.7);
      text-shadow: 1px 1px 3px rgba($black, 0.1);
    }

    .article__content__nav::before {
      background-image: url("../assets/images/arrow--white.svg");
    }
  }

  &.gold,
  &.orange,
  &.yellow {
    .article__header__title {
      text-shadow: 1px 1px 3px rgba($white, 0.3);
    }

    .article__header__date {
      color: rgba($black, 0.7);
      text-shadow: 1px 1px 3px rgba($white, 0.1);
    }

    .article__content__nav::before {
      background-image: url("../assets/images/arrow.svg");
    }
  }



  &.blue {
    ::selection {
      background-color: rgba($brand-blue, 0.3);
    }

    .article__header {
      background-image: url("../assets/images/heroes/a.jpg");
    }

    .article__header__tag {
      background-color: $brand-blue;
    }

    .article__header__hero {
      background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    }

    .article__content {
      p:not(.article__content__tldr):first-child::first-letter {
        color: $brand-blue;
      }

      blockquote p:first-child::before {
        color: $brand-blue;
      }

      a {
        color: $brand-blue;
      }
    }

    .article__content__nav {
      background-color: $brand-blue;
    }

    .article__content__image {
      img {
        @media (min-width: 801px) {
          border-color: $brand-blue;
          box-shadow: 5px 5px 0 $brand-blue;
        }
      }

      figcaption {
        color: $brand-blue;
      }
    }

    .article__content__video {
      embed,
      iframe {
        @media (min-width: 801px) {
          border-color: $brand-blue;
          box-shadow: 5px 5px 0 $brand-blue;
        }
      }
    }
  }

  &.gold {
    ::selection {
      background-color: rgba($brand-gold, 0.3);
    }

    .article__header {
      background-image: url("../assets/images/heroes/b.jpg");
    }

    .article__header__tag {
      background-color: $brand-gold;
    }

    .article__header__hero {
      background-image: linear-gradient(270deg, #fbab7e 0%, #f7ce68 100%);
    }

    .article__content {
      p:not(.article__content__tldr):first-child::first-letter {
        color: $brand-gold;
      }

      blockquote p:first-child::before {
        color: $brand-gold;
      }

      a {
        color: $brand-gold;
      }
    }

    .article__content__nav {
      background-color: $brand-gold;
    }

    .article__content__image {
      img {
        @media (min-width: 801px) {
          border-color: $brand-gold;
          box-shadow: 5px 5px 0 $brand-gold;
        }
      }

      figcaption {
        color: $brand-gold;
      }
    }

    .article__content__video {
      embed,
      iframe {
        @media (min-width: 801px) {
          border-color: $brand-gold;
          box-shadow: 5px 5px 0 $brand-gold;
        }
      }
    }
  }

  &.green {
    ::selection {
      background-color: rgba($green, 0.3);
    }

    .article__header {
      background-image: url("../assets/images/heroes/a.jpg");
    }

    .article__header__tag {
      background-color: $green;
    }

    .article__header__hero {
      background-image: linear-gradient(270deg, #08aeea 0%, #2af598 100%);
    }

    .article__content {
      p:not(.article__content__tldr):first-child::first-letter {
        color: $green;
      }

      blockquote p:first-child::before {
        color: $green;
      }

      a {
        color: $green;
      }
    }

    .article__content__nav {
      background-color: $brand-green;
    }

    .article__content__image {
      img {
        @media (min-width: 801px) {
          border-color: $green;
          box-shadow: 5px 5px 0 $green;
        }
      }

      figcaption {
        color: $green;
      }
    }

    .article__content__video {
      embed,
      iframe {
        @media (min-width: 801px) {
          border-color: $green;
          box-shadow: 5px 5px 0 $green;
        }
      }
    }
  }

  &.orange {
    ::selection {
      background-color: rgba($brand-orange, 0.3);
    }

    .article__header {
      background-image: url("../assets/images/heroes/b.jpg");
    }

    .article__header__tag {
      background-color: $brand-orange;
    }

    .article__header__hero {
      background-image: linear-gradient(270deg, #fad961 0%, #f76b1c 99%);
    }

    .article__content {
      p:not(.article__content__tldr):first-child::first-letter {
        color: $brand-orange;
      }

      blockquote p:first-child::before {
        color: $brand-orange;
      }

      a {
        color: $brand-orange;
      }
    }

    .article__content__nav {
      background-color: $brand-orange;
    }

    .article__content__image {
      img {
        @media (min-width: 801px) {
          border-color: $brand-orange;
          box-shadow: 5px 5px 0 $brand-orange;
        }
      }

      figcaption {
        color: $brand-orange;
      }
    }

    .article__content__video {
      embed,
      iframe {
        @media (min-width: 801px) {
          border-color: $brand-orange;
          box-shadow: 5px 5px 0 $brand-orange;
        }
      }
    }
  }

  &.pink {
    ::selection {
      background-color: rgba($brand-pink, 0.3);
    }

    .article__header {
      background-image: url("../assets/images/heroes/c.jpg");
    }

    .article__header__tag {
      background-color: $brand-pink;
    }

    .article__header__hero {
      background-image: linear-gradient(160deg, #fbda61 0%, #ff5acd 100%);
    }

    .article__content {
      p:not(.article__content__tldr):first-child::first-letter {
        color: $brand-pink;
      }

      blockquote p:first-child::before {
        color: $brand-pink;
      }

      a {
        color: $brand-pink;
      }
    }

    .article__content__nav {
      background-color: $brand-pink;
    }

    .article__content__image {
      img {
        @media (min-width: 801px) {
          border-color: $brand-pink;
          box-shadow: 5px 5px 0 $brand-pink;
        }
      }

      figcaption {
        color: $brand-pink;
      }
    }

    .article__content__video {
      embed,
      iframe {
        @media (min-width: 801px) {
          border-color: $brand-pink;
          box-shadow: 5px 5px 0 $brand-pink;
        }
      }
    }
  }

  &.purple {
    ::selection {
      background-color: rgba($brand-purple, 0.3);
    }

    .article__header {
      background-image: url("../assets/images/heroes/c.jpg");
    }

    .article__header__tag {
      background-color: $brand-purple;
    }

    .article__header__hero {
      background-image: linear-gradient(160deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    }

    .article__content {
      p:not(.article__content__tldr):first-child::first-letter {
        color: $brand-purple;
      }

      blockquote p:first-child::before {
        color: $brand-purple;
      }

      a {
        color: $brand-purple;
      }
    }

    .article__content__nav {
      background-color: $brand-purple;
    }

    .article__content__image {
      img {
        @media (min-width: 801px) {
          border-color: $brand-purple;
          box-shadow: 5px 5px 0 $brand-purple;
        }
      }

      figcaption {
        color: $brand-purple;
      }
    }

    .article__content__video {
      embed,
      iframe {
        @media (min-width: 801px) {
          border-color: $brand-purple;
          box-shadow: 5px 5px 0 $brand-purple;
        }
      }
    }
  }

  &.red {
    ::selection {
      background-color: rgba($brand-red, 0.3);
    }

    .article__header {
      background-image: url("../assets/images/heroes/c.jpg");
    }

    .article__header__tag {
      background-color: $brand-red;
    }

    .article__header__hero {
      background-image: linear-gradient(270deg, #fb7251 0%, #ff4136 100%);
    }

    .article__content {
      p:not(.article__content__tldr):first-child::first-letter {
        color: $brand-red;
      }

      blockquote p:first-child::before {
        color: $brand-red;
      }

      a {
        color: $brand-red;
      }
    }

    .article__content__nav {
      background-color: $brand-red;
    }

    .article__content__image {
      img {
        @media (min-width: 801px) {
          border-color: $brand-red;
          box-shadow: 5px 5px 0 $brand-red;
        }
      }

      figcaption {
        color: $brand-red;
      }
    }

    .article__content__video {
      embed,
      iframe {
        @media (min-width: 801px) {
          border-color: $brand-red;
          box-shadow: 5px 5px 0 $brand-red;
        }
      }
    }
  }

  &.yellow {
    .article__header {
      background-image: url("../assets/images/heroes/b.jpg");
    }

    .article__header__tag {
      background-color: $yellow;
    }

    .article__header__hero {
      background-image: linear-gradient(160deg, #fad961 0%, #f7ce68 100%);
    }

    .article__content {
      p:not(.article__content__tldr):first-child::first-letter {
        color: $yellow;
      }

      blockquote p:first-child::before {
        color: $yellow;
      }

      a {
        color: $yellow;
      }
    }

    .article__content__nav {
      background-color: $brand-yellow;
    }

    .article__content__image {
      img {
        @media (min-width: 801px) {
          border-color: $yellow;
          box-shadow: 5px 5px 0 $yellow;
        }
      }

      figcaption {
        color: $yellow;
      }
    }

    .article__content__video {
      embed,
      iframe {
        @media (min-width: 801px) {
          border-color: $yellow;
          box-shadow: 5px 5px 0 $yellow;
        }
      }
    }
  }
}



.article__header {
  width: 100%; height: 80vh; min-height: 600px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-width: 801px) {
    @include center;
    text-align: center;
  }

  .inner-wrap {
    position: relative;
    z-index: 1;
  }
}

.article__header-wrap {
  width: 100%;

  @media (max-width: 800px) {
    bottom: 2rem; left: 0;
    position: absolute;
  }
}

.article__header__hero {
  width: 100%; height: 100%;
  top: 0; left: 0;

  box-shadow: inset 0 -5px 5px rgba($black, 0.1);
  opacity: 0.7;
  position: absolute;

  img {
    width: inherit; height: inherit;

    object-fit: cover;
    object-position: center;
  }
}



//
//  T A G S

.article__header__tags {
  display: block;

  @media (min-width: 801px) {
    margin-bottom: 1rem;
  }

  @media (max-width: 800px) {
    margin-bottom: 0.5rem;
  }
}

.article__header__tag {
  padding: 0.2rem 0.5rem;

  box-shadow: 2px 2px 0 rgba($black, 0.1);
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  &:not(:last-of-type) {
    margin-right: 0.7rem;
  }
}



//
//  T I T L E

.article__header__title {
  font-weight: 300;

  @media (min-width: 801px) {
    font-size: 7rem;
    line-height: 6.5rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 800px) {
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 451px) and (max-width: 800px) {
    font-size: 4rem;
  }

  @media (max-width: 450px) {
    font-size: 2.5rem;
  }
}



//
//  D A T E

.article__header__date {
  cursor: default;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  padding-left: 0.15rem;
}



//
//  H E R O



//
//  C O N T E N T

.article__content {
  @include font-serif;
  background-color: $white;
  background-image: url("../assets/images/backgrounds/grid.png");
  background-repeat: repeat;
  background-size: 32px;

  @media (min-width: 801px) {
    padding-top: 2rem;
  }

  @media (max-width: 800px) {
    padding-top: 1rem;
  }

  h3 {
    margin-bottom: 0.5rem;

    @media (min-width: 451px) {
      font-size: 2rem;
      margin-top: 2rem;
    }

    @media (max-width: 450px) {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }

  h4 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  h3,
  h4,
  ol,
  ul,
  p:not(.article__content__tldr) {
    @media (min-width: 801px) {
      width: 600px;
      margin-right: auto;
      margin-left: auto;
    }

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  ol,
  ul,
  p:not(.article__content__tldr) {
    line-height: 1.5;
    position: relative;

    @media (min-width: 451px) {
      font-size: 1.25rem;
    }

    @media (max-width: 450px) {
      font-size: 1rem;
    }

    a {
      font-style: italic;
      font-weight: 600;
    }
  }

  // sass-lint:disable no-important
  ol,
  ul {
    // margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 3.5rem;

    ul {
      margin: 0 !important;
    }

    p {
      margin: 0 !important;

      &:first-child::first-letter {
        top: inherit !important;
        color: initial !important;
        float: none !important;
        font-size: inherit !important;
        line-height: inherit !important;
        padding-right: inherit !important;
        position: inherit !important;
      }
    }
  }
  // sass-lint:enable no-important

  p:not(.article__content__tldr) {
    &:first-child {
      margin-bottom: 2rem;

      &::first-letter {
        float: left;
        font-size: 8rem;
        font-style: normal;
        line-height: 5rem;
        margin-bottom: 3rem;

        @-moz-document url-prefix() {
          line-height: 6rem;
          margin-bottom: 2rem;
          padding-top: 0.65rem;
        }

        @media (min-width: 451px) {
          padding-right: 0.75rem;
        }

        @media (max-width: 450px) {
          padding-right: 0.35rem;
        }
      }
    }

    &:not(:first-child) {
      text-indent: 2rem;
    }
  }

  blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    word-wrap: break-word;

    @media (min-width: 801px) {
      left: -3rem;
    }

    p:first-child {
      text-indent: 2rem;

      // sass-lint:disable no-important
      &::first-letter {
        top: inherit !important;
        color: inherit !important;
        float: none !important;
        font-size: inherit !important;
        font-style: inherit !important;
        line-height: inherit !important;
        padding-right: inherit !important;
        position: inherit !important;
      }
      // sass-lint:enable no-important

      &::before {
        width: 150px; height: 100px;
        top: -1rem; left: -4rem;

        content: "“";
        font-size: 20rem;
        line-height: 0.5;
        opacity: 0.1;
        position: absolute;
      }
    }
  }

  li code,
  p code {
    @include font-mono;
    padding: 0.05rem 0.5rem 0.15rem;
    top: -0.1rem;

    background-color: $brand-black;
    color: $white;
    font-size: 0.8rem;
    position: relative;
  }

  a {
    &:not(.article__content__nav) {
      position: relative;

      &:not(:hover)::after {
        bottom: -0.5rem;
        opacity: 0;
      }

      &:hover::after {
        bottom: -0.2rem;
        opacity: 0.7;
      }

      &::after {
        width: 100%; height: 1px;
        left: 0;

        background-color: currentColor;
        content: "";
        position: absolute;
        transition: all 0.2s;
      }
    }
  }
}



//  T L ; D R

.article__content__tldr {
  border-bottom: 1px solid rgba($silver, 0.7);
  font-style: italic;
  margin-bottom: 2rem;
  text-align: center;

  @media (min-width: 801px) {
    width: 800px;
    font-size: 2.25rem;
    padding-bottom: 2rem;
  }

  @media (max-width: 800px) {
    width: 100%;
    padding-bottom: 1rem;
  }

  @media (min-width: 451px) and (max-width: 800px) {
    font-size: 1.75rem;
  }

  @media (max-width: 450px) {
    font-size: 1.25rem;
  }
}



.article__content__audio,
.article__content__image,
.article__content__slides,
.article__content__video {
  position: relative;

  @media (min-width: 801px) {
    margin: 2rem auto 1rem;
  }

  @media (max-width: 800px) {
    width: calc(100% + 4rem);
    left: -2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.article__content__image,
.article__content__slides,
.article__content__video {
  @media (min-width: 801px) {
    width: 80%;
  }
}

.article__content__audio {
  @media (min-width: 801px) {
    width: 50%;
  }

  iframe {
    width: 100%; height: 42px; // TODO: Make this better
  }
}

.article__content__image {
  img {
    width: 100%;
    margin-bottom: 0.25rem;

    @media (min-width: 801px) {
      border-style: solid;
      border-width: 1px;
    }
  }

  figcaption {
    cursor: default;
    font-size: 1rem;

    @media (min-width: 801px) {
      text-align: right;
    }

    @media (max-width: 800px) {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      text-align: center;
    }
  }
}

.article__content__video {
  embed,
  iframe {
    width: 100%;

    @media (min-width: 801px) {
      min-height: 75vh;
      border-style: solid;
      border-width: 1px;
    }

    @media (max-width: 800px) {
      min-height: 30vh;
    }
  }
}



.article__content__slides {
  overflow: hidden;
  visibility: hidden;
}

.article__content__slides-wrap {
  overflow: hidden;
  position: relative;
}

.article__content__slide {
  width: 100%;
  float: left;
  position: relative;

  @media (min-width: 801px) {
    height: 500px;
  }

  img {
    width: 100%; height: 100%;

    object-fit: contain;
    object-position: center;
  }

  figcaption {
    padding: 0.5rem 1rem;
    bottom: 1.5rem; // left: 10%;

    background-color: $brand-gold; //
    display: none;
    line-height: 1;
    position: absolute;
    text-align: center;
  }
}

.article__content__nav {
  @include hide-text;
  width: 2rem; height: 4rem;
  top: calc(50% - 2rem);

  display: block;
  position: absolute;

  &::before {
    width: 100%; height: 100%;
    top: 0; left: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
  }

  &.next {
    right: 0;

    &::before {
      transform: rotate(90deg);
    }
  }

  &.prev {
    left: 0;

    &::before {
      transform: rotate(-90deg);
    }
  }
}



.article__footer {
  padding-top: 1rem;

  @media (min-width: 701px) {
    padding-bottom: 1rem;
  }
}

.article__footer__share {
  border-top: 1px solid rgba($silver, 0.3);
  font-size: 1rem;
  padding-top: 4rem;
  position: relative;
  text-align: center;

  &::before {
    width: 100%;
    top: 1.3rem; left: 0;

    content: "Share this post";
    font-weight: 700;
    position: absolute;
  }

  @media (min-width: 601px) {
    &::after {
      @include clearfix;
    }
  }
}

.article__footer__share__item {
  padding: 0.5rem 1rem;

  @media (min-width: 701px) {
    display: inline-block;
  }

  @media (max-width: 700px) {
    display: block;
  }

  &.buffer {
    background-color: #70be6a;
    border: 1px solid #70be6a;
    color: $white;
  }

  &.email {
    border: 1px solid rgba($silver, 0.3);
  }

  &.facebook {
    background-color: #3c5a98;
    border: 1px solid #3c5a98;
    color: $white;
  }

  &.hackernews {
    background-color: #ff6600; // sass-lint:disable-line hex-length
    border: 1px solid #ff6600; // sass-lint:disable-line hex-length
  }

  &.linkedin {
    background-color: #185c80;
    border: 1px solid #185c80;
    color: $white;
  }

  &.pocket {
    background-color: #ed4055;
    border: 1px solid #ed4055;
    color: $white;
  }

  &.reddit {
    background-color: #cee3f8;
    border: 1px solid #cee3f8;
  }

  &.tumblr {
    background-color: #36465d;
    border: 1px solid #36465d;
    color: $white;
  }

  &.twitter {
    background-color: #dbf7f8;
    border: 1px solid #dbf7f8;
    color: #2d6491;
  }
}
