.wrapper-scroll,
.wrapper-scroll--post {
  top: 0; right: 0;
  bottom: 0; left: 0;

  display: flex;
  overflow: auto;
  position: absolute;

  -webkit-overflow-scrolling: touch;

  [data-scroll="no"] & {
    height: 100%;
    top: unset; right: unset;
    bottom: unset; left: unset;

    overflow: unset;
    position: relative;
  }
}

.wrapper-scroll {
  align-items: center;
  justify-content: flex-start;
}

mini-posts {
  width: max-content; height: 100%;

  align-items: center;
  background-attachment: fixed;
  background-image: url("../images/bg-a.jpg");
  background-size: 600px;
  display: flex;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  position: relative;

  &::before {
    top: 0; right: 0;
    bottom: 0; left: 0;

    background-image: repeating-linear-gradient(-9deg, $silver, $silver 30vw, transparent 30vw, transparent 60vw);
    content: "";
    position: absolute;
  }

  [data-scroll="no"] & {
    width: 100%;
    background-image: none;
    display: block;
    padding-top: 12rem;
    padding-bottom: 3rem;

    &::before {
      background-image: radial-gradient(circle, $black 1px, rgba($black, 0) 1px);
      background-size: 40px 40px;
      opacity: 0.15;
    }
  }
}



mini-post,
mini-post-title {
  display: block;
}

mini-post {
  min-width: 500px;
  padding-top: 5rem;
  padding-right: 2rem;
  padding-left: 5rem;
  z-index: 1;

  [data-scroll="no"] & {
    top: unset !important; // sass-lint:disable-line no-important
    padding-top: 2rem;
    padding-right: 0;
    padding-left: 0;

    @media (max-width: 600px) {
      min-width: unset;
    }

    &[data-color="blue"] {
      &:hover {
        a { // sass-lint:disable-line nesting-depth
          background-color: rgba($blue, 0.05);
        }
      }

      a {
        border-color: $blue;
      }
    }

    &[data-color="gold"] {
      &:hover {
        a {
          background-color: rgba($gold, 0.05);
        }
      }

      a {
        border-color: $gold;
      }
    }

    &[data-color="green"] {
      &:hover {
        a {
          background-color: rgba($green, 0.05);
        }
      }

      a {
        border-color: $green;
      }
    }

    &[data-color="null"] {
      &:hover {
        a {
          background-color: rgba($black, 0.05);
        }
      }

      a {
        border-color: $black;
      }
    }

    &[data-color="orange"] {
      &:hover {
        a {
          background-color: rgba($orange, 0.05);
        }
      }

      a {
        border-color: $orange;
      }
    }

    &[data-color="pink"] {
      &:hover {
        a {
          background-color: rgba($pink, 0.05);
        }
      }

      a {
        border-color: $pink;
      }
    }

    &[data-color="purple"] {
      &:hover {
        a {
          background-color: rgba($purple, 0.05);
        }
      }

      a {
        border-color: $purple;
      }
    }

    &[data-color="red"] {
      &:hover {
        a {
          background-color: rgba($red, 0.05);
        }
      }

      a {
        border-color: $red;
      }
    }

    &[data-color="yellow"] {
      &:hover {
        a {
          background-color: rgba($yellow, 0.05);
        }
      }

      a {
        border-color: $yellow;
      }
    }
  }

  a {
    padding: 0.5rem 1.5rem 0.75rem;

    background-color: rgba($white, 0.7);
    display: inline-block;
    line-height: 1.33;

    [data-scroll="no"] & {
      border-style: solid;
      border-width: 2px;
      transition: background-color 0.2s;

      @media (max-width: 800px) {
        display: block;
      }
    }
  }

  time {
    opacity: 0.3;
    padding-left: 1rem;
  }
}

mini-post-title {
  font-size: 2rem;
}

mini-post-tldr {
  font-size: 1rem;
}



[data-shape] {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
  }

  [data-scroll="no"] & {
    &::before,
    &::after {
      display: none;
    }
  }
}

[data-shape^="circle-"],
[data-shape^="rectangle-"] {
  &[data-color="blue"]::before {
    background-color: $blue;
  }

  &[data-color="gold"]::before {
    background-color: $gold;
  }

  &[data-color="green"]::before {
    background-color: $green;
  }

  &[data-color="null"]::before {
    background-color: $black;
  }

  &[data-color="orange"]::before {
    background-color: $orange;
  }

  &[data-color="pink"]::before {
    background-color: $pink;
  }

  &[data-color="purple"]::before {
    background-color: $purple;
  }

  &[data-color="red"]::before {
    background-color: $red;
  }

  &[data-color="yellow"]::before {
    background-color: $yellow;
  }
}

[data-shape^="circle-"] {
  &::before {
    width: 200px; height: 200px;
    top: -15%;
    border-radius: 50%;
  }
}

[data-shape="circle-center"] {
  &::before {
    left: calc(50% - 100px);
  }
}

[data-shape="circle-left"] {
  &::before {
    left: 0;
  }
}

[data-shape="circle-right"] {
  &::before {
    right: 0;
  }
}

[data-shape^="rectangle-"] {
  &::before {
    width: 250px; height: 100px;
  }
}

[data-shape="rectangle-bottom"] {
  &::before {
    bottom: -15%; left: 0;
  }
}

[data-shape="rectangle-top"] {
  &::before {
    top: -15%; right: 0;
  }
}

[data-shape^="triangle-"] {
  &::before {
    width: 0; height: 0;
    border-width: 200px;
  }

  &[data-color="blue"]::before {
    border-color: $blue;
  }

  &[data-color="gold"]::before {
    border-color: $gold;
  }

  &[data-color="green"]::before {
    border-color: $green;
  }

  &[data-color="null"]::before {
    border-color: $black;
  }

  &[data-color="orange"]::before {
    border-color: $orange;
  }

  &[data-color="pink"]::before {
    border-color: $pink;
  }

  &[data-color="purple"]::before {
    border-color: $purple;
  }

  &[data-color="red"]::before {
    border-color: $red;
  }

  &[data-color="yellow"]::before {
    border-color: $yellow;
  }
}

[data-shape="triangle-bottom-left"],
[data-shape="triangle-bottom-right"] {
  &::before {
    bottom: -5rem;
    border-bottom-style: solid;
  }
}

[data-shape="triangle-bottom-left"],
[data-shape="triangle-top-left"] {
  &::before {
    border-right-color: transparent !important; // sass-lint:disable-line no-important
    border-right-style: solid;
  }
}

[data-shape="triangle-top-left"],
[data-shape="triangle-top-right"] {
  &::before {
    top: 0;
    border-top-style: solid;
  }
}

[data-shape="triangle-top-right"],
[data-shape="triangle-bottom-right"] {
  &::before {
    right: 10rem;
    border-left-color: transparent !important; // sass-lint:disable-line no-important
    border-left-style: solid;
  }
}

[data-shape="triangle-bottom-left"] {
  &::before {
    left: 10rem;
  }
}

[data-shape="triangle-top-left"] {
  &::before {
    left: 2rem;
  }
}
