.wrapper-scroll,
.wrapper-scroll--post {
  top: 0; right: 0;
  bottom: 0; left: 0;

  display: flex;
  overflow: auto;
  position: absolute;

  -webkit-overflow-scrolling: touch;
}

.wrapper-scroll {
  align-items: center;
  justify-content: flex-start;
}

.wrapper-scroll--post {
  flex-wrap: nowrap;
  // TODO: The padding...
  padding-top: 15rem;
  padding-bottom: 7rem;
  padding-left: 3rem;
  white-space: normal;

  .test {
    width: max-content;

    column-fill: auto;
    column-gap: 4rem;
    column-rule: 1px solid rgba($gray, 0.15);
    column-width: 500px;
    flex: 0 0 auto;
  }
}

.content {
  width: max-content; height: 100%;

  align-items: center;
  display: flex;
  padding-right: 3rem;
  padding-left: 3rem;
}



post,
post-title,
post-tldr {
  display: block;
}

post {
  min-width: 500px;
  padding-top: 5rem;
  padding-right: 2rem;
  padding-left: 5rem;

  a {
    padding: 0.5rem 0.75rem 0.75rem 1.5rem;

    background-color: rgba($white, 0.7);
    display: inline-block;
    line-height: 1.33;
  }

  time {
    display: none;
  }
}

post-title {
  font-size: 2rem;
}

post-tldr {
  font-size: 1rem;
}



[data-shape] {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
  }
}

[data-shape^="circle-"],
[data-shape^="rectangle-"] {
  &[data-color="blue"] {
    &::before {
      background-color: $blue;
    }
  }

  &[data-color="gold"] {
    &::before {
      background-color: $gold;
    }
  }

  &[data-color="green"] {
    &::before {
      background-color: $green;
    }
  }

  &[data-color="null"] {
    &::before {
      background-color: $black;
    }
  }

  &[data-color="orange"] {
    &::before {
      background-color: $orange;
    }
  }

  &[data-color="pink"] {
    &::before {
      background-color: $pink;
    }
  }

  &[data-color="purple"] {
    &::before {
      background-color: $purple;
    }
  }

  &[data-color="red"] {
    &::before {
      background-color: $red;
    }
  }

  &[data-color="yellow"] {
    &::before {
      background-color: $yellow;
    }
  }
}

[data-shape^="circle-"] {
  &::before {
    width: 200px; height: 200px;
    top: -15%;
    border-radius: 50%;
  }
}

[data-shape="circle-center"] {
  &::before {
    left: calc(50% - 100px);
  }
}

[data-shape="circle-left"] {
  &::before {
    left: 0;
  }
}

[data-shape="circle-right"] {
  &::before {
    right: 0;
  }
}

[data-shape^="rectangle-"] {
  &::before {
    width: 200px; height: 100px;
  }
}

[data-shape="rectangle-bottom"] {
  &::before {
    bottom: -15%; left: 0;
  }
}

[data-shape="rectangle-top"] {
  &::before {
    top: -15%; right: 0;
  }
}

[data-shape^="triangle-"] {
  &::before {
    width: 0; height: 0;
    border-width: 200px;
  }

  &[data-color="blue"]::before {
    border-color: $blue;
  }

  &[data-color="gold"]::before {
    border-color: $gold;
  }

  &[data-color="green"]::before {
    border-color: $green;
  }

  &[data-color="null"]::before {
    border-color: $black;
  }

  &[data-color="orange"]::before {
    border-color: $orange;
  }

  &[data-color="pink"]::before {
    border-color: $pink;
  }

  &[data-color="purple"]::before {
    border-color: $purple;
  }

  &[data-color="red"]::before {
    border-color: $red;
  }

  &[data-color="yellow"]::before {
    border-color: $yellow;
  }
}

[data-shape="triangle-bottom-left"],
[data-shape="triangle-bottom-right"] {
  &::before {
    bottom: -5rem;
    border-bottom-style: solid;
  }
}

[data-shape="triangle-bottom-left"],
[data-shape="triangle-top-left"] {
  &::before {
    border-right-color: transparent !important; // sass-lint:disable-line no-important
    border-right-style: solid;
  }
}

[data-shape="triangle-top-left"],
[data-shape="triangle-top-right"] {
  &::before {
    top: 0;
    border-top-style: solid;
  }
}

[data-shape="triangle-top-right"],
[data-shape="triangle-bottom-right"] {
  &::before {
    right: 10rem;
    border-left-color: transparent !important; // sass-lint:disable-line no-important
    border-left-style: solid;
  }
}

[data-shape="triangle-bottom-left"] {
  &::before {
    left: 10rem;
  }
}

[data-shape="triangle-top-left"] {
  &::before {
    left: 2rem;
  }
}
